<div layout="column" flex>
    <md-grid-list md-cols="7" md-row-height="fit" flex>
        <md-grid-tile ng-repeat="day in vm.days">
            <md-grid-tile-header>
                <h3>{{ day.date | date: dd-MM-YYYY }}</h3>
            </md-grid-tile-header>
            <div layout="row" flex layout-wrap ng-if="!day.offset">
                <div flex="25" ng-repeat="shift in vm.shifts">
                    <md-button ng-click="vm.setShift(day, shift)" class="md-raised md-primary shift-button" ng-class="{ 'active': day.shift === shift }">
                        {{ shift }}
                    </md-button>
                </div>
            </div>
        </md-grid-tile>
    </md-grid-list>
</div>