<div layout="column" flex>
	<md-card>
		<md-card-actions layout="row">
			<md-card-icon-actions>
				<md-button class="md-icon-button" aria-label="Favorite" ng-click="vm.prevMonth()">
				<md-icon>keyboard_arrow_left</md-icon>
				</md-button>
			</md-card-icon-actions>

			<md-button class="md-raised" ng-click="vm.saveShifts()">Save</md-button>

			<md-card-icon-actions>
				<md-button class="md-icon-button" aria-label="Share" ng-click="vm.nextMonth()">
				<md-icon>keyboard_arrow_right</md-icon>
				</md-button>
			</md-card-icon-actions>
		</md-card-actions>
	</md-card>

	<md-list layout="row" layout-wrap>
		<md-list-item hide-xs ng-repeat="offset in vm.getRange(vm.offsetDays) track by $index" class="offset-edge">
			<div class="day-offset" flex></div>
		</md-list-item>
		<md-list-item ng-repeat="day in vm.days" class="edge">
			<div class="md-list-item-text" layout="column" flex>
				<span class="day-header">
					{{ ::day.date | date: dd-MM-YYYY }}
				</span>
				<md-grid-list md-cols="4" md-row-height="3:2" flex>
					<md-grid-tile ng-repeat="(shift, times) in vm.shifts" ng-click="vm.setShift(day, shift)" ng-class="{ 'active': day.shift === shift }" md-ink-ripple class="md-clickable grid-shift">
						{{ ::shift }}
					</md-grid-tile>
				</md-grid-list>
			</div>
		</md-list-item>
	</md-list>

    <!--<md-grid-list md-cols="1" md-cols-gt-xs="7" md-row-height="3:2" md-row-height-gt-xs="3:10" md-row-height-gt-sm="4:8" md-row-height-gt-md="4:4" flex>
        <md-grid-tile hide-xs  ng-repeat="offset in ::vm.getRange(vm.offsetDays) track by $index">
            <md-grid-tile-header>
            </md-grid-tile-header>
        </md-grid-tile>
        <md-grid-tile ng-repeat="day in vm.days" class="calendar-grid">
			<div layout="column" flex layout-fill>
				<md-grid-tile-header>
					<h3 class="calendar-header">{{ ::day.date | date: dd-MM-YYYY }}</h3>
				</md-grid-tile-header>
				<div layout="row" layout-wrap class="calendar-content">
					<div flex="20" flex-gt-xs="50" flex-gt-md="25" ng-repeat="(shift, times) in vm.shifts">
						<md-button ng-click="vm.setShift(day, shift)" class="md-raised md-primary shift-button" ng-class="{ 'active': day.shift === shift }">
							<md-tooltip>
                                {{ ::times | duration }}
							</md-tooltip>
							{{ ::shift }}
						</md-button>
					</div>
				</div>
            </div>
        </md-grid-tile>
    </md-grid-list>-->
</div>