<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>
			Something went wrong
		</h2>
		<span flex></span>
		<md-button class="md-icon-button"" ng-click="vm.close()">
			<md-icon>close</md-icon>
		</md-button>
	</div>
</md-toolbar>
<md-dialog-content>
	<div class="md-dialog-content">
		<p>
			Oeps, er is iets foutgelopen. Dit is de reden:
			<strong>{{ vm.error.message }}</strong>
		</p>

		<p>
			Geef ook deze info mee aan je schatje:
			<p ng-if="vm.error.stack">
				<strong>Stacktrace</strong>
				<pre>{{ vm.error.stack }}</pre>
			</p>
			<p ng-if="vm.error.data">
				<strong>Data</strong>
				<pre>{{ vm.error.data | json }}</pre>
			</p>

			<hr ng-if="vm.error">
			<p ng-if="vm.error">
				<strong>Full Error</strong>
				<pre>{{ vm.error | json }}</pre>
			</p>
	</div>
</md-dialog-content>