.shift-button {
    margin: 0;
    padding: 0;
    min-width: 0;
    width: 100%;
    border-radius: 0;
    box-shadow: none !important;
    border: 1px solid black;
}

.shift-button.active {
    background-color: red !important;
}

.calendar-content {
	margin-top: 48px;
}

.calendar-grid {
	height: 100%;
}

.calendar-header {
	font-size:18px;
	color: black;
}

.day-header {
	background-color: rgba(0,0,0,.18);
	padding: 10px 0px 10px 25px;
	margin: 0px 0.5px;
	font-size: 20px;
}

.edge {
	max-width: calc(100% / 7) !important;
	min-width: calc(100% / 7) !important;
	padding: 0px !important;
}

.md-list-item-text md-grid-list {
	margin: 0px 0.5px;
}

.grid-shift {
	cursor: pointer;
	background-color: lightblue;
}