.shift-button {
    margin: 0;
    padding: 0;
    min-width: 0;
    width: 100%;
    border-radius: 0;
    box-shadow: none !important;
    border: 1px solid black;
}

.shift-button.active {
    background-color: red !important;
}

.calendar-content {
	margin-top: 48px;
}

.calendar-grid {
	height: 100%;
}

.calendar-header {
	font-size:18px;
	color: black;
}